{% extends 'base.html' %}

{% block body %}

  <div class="add_buttons">

    <div class="button-group">
      <a href="{% url 'display_Computer' %}" class="btn btn-primary btn-md btn-trim" role="button"> Computer Engineering</a>
      <a href="{% url 'add_Computer' %}" class="btn btn-warning btn-sm btn-pad" role="button"> +</a>

      <a href="{% url 'display_IT' %}" class="btn btn-primary btn-md btn-trim" role="button"> IT Engineering</a>
      <a href="{% url 'add_IT' %}" class="btn btn-warning btn-sm btn-pad" role="button"> +</a>

      <a href="{% url 'display_Mechanical' %}" class="btn btn-primary btn-md btn-trim" role="button"> Mechanical Engineering</a>
      <a href="{% url 'add_Mechanical' %}" class="btn btn-warning btn-sm btn-pad" role="button"> +</a>

      <a href="{% url 'display_Electronics' %}" class="btn btn-primary btn-md btn-trim" role="button"> Electronics Engineering</a>
      <a href="{% url 'add_Electronics' %}" class="btn btn-warning btn-sm btn-pad" role="button"> +</a>

    </div>

  </div>

  <div>

    <h4>Currently Viewing {{ header }}</h4>
  </div>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>id</th>
        <th>Name</th>
        <th>Percentage</th>
        <th>Status</th>
        <th>Number</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      {% for item in items %}

      <tr>
        <td>{{ item.pk }}
        <td>{{ item.name }}</td>
        <td>{{ item.percentage }} $</td>
        <td>{{ item.status }}</td>
        <td>{{ item.number }}</td>

        <!-- <h1>{{ header }}</h1> -->
        {% if header == "Computer Department" %}
        <td>
            <a href="{% url 'edit_Computer' item.pk %}" class="btn btn-warning btn-sm" role="button" aria-pressed="true" > Edit</a>
            <a href="{% url 'delete_Computer' item.pk%}" class="btn btn-danger btn-sm" role="button" aria-pressed="true" > x</a>
        </td>
        {% elif header == "IT Department" %}
        <td>
            <a href="{% url 'edit_IT' item.pk %}" class="btn btn-warning btn-sm" role="button" aria-pressed="true" > Edit</a>
            <a href="{% url 'delete_IT' item.pk%}" class="btn btn-danger btn-sm" role="button" aria-pressed="true" > x</a>
        </td>
        {% elif header == "Mechanical Department" %}
        <td>
            <a href="{% url 'edit_Mechanical' item.pk %}" class="btn btn-warning btn-sm" role="button" aria-pressed="true" > Edit</a>
            <a href="{% url 'delete_Mechanical' item.pk%}" class="btn btn-danger btn-sm" role="button" aria-pressed="true" > x</a>
        </td>
        {% elif header == "Electronics Department" %}
        <td>
            <a href="{% url 'edit_Electronics' item.pk %}" class="btn btn-warning btn-sm" role="button" aria-pressed="true" > Edit</a>
            <a href="{% url 'delete_Electronics' item.pk%}" class="btn btn-danger btn-sm" role="button" aria-pressed="true" > x</a>
        </td>
        {% endif %}

      </tr>

      {% endfor %}
      
    </tbody>
  </table>

{% endblock %}